/*body{
    background-color:deepskyblue;
}*/

/*
pink - #F1A2F2
purple - #21118C
dark purple - #1B1159
really dark purple - #101126
light blue - #
*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
 
/* Skip link utility: hidden until focused */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Global Styles*/ /*review this*/

body{
    font-family: "Martian Mono", monospace;
    margin:0;
}

header.primary{
  background-color:#101126;
  color: #6DCCF2;
  text-align: center;
  text-shadow: 1px 1px #F1A2F2;
  /*longform*/
  padding-top:40px;
  padding-right:40px;
  padding-bottom:40px;
  padding-left:40px;
  /*Single Value*/
  padding:40px; /*applies same value to all 4*/ 
  /*T/R/B/L*/
  padding: 40px 40px 20px 40px;
  /* T/B | R/L */
  padding: 20px 40px;
}

/*selector to target hyperlinks at top of page */
/*gotta target the header bc thats where they're located, you gotta give
context to the computer*/
header.primary a{
  color:gold;
  text-decoration: none;
}

header.primary h1{
  font-size:2.4cm;
  margin:0;
}

header.primary p.subtitle{
  font-size:1.3cm;
  margin:10px 0 20px;
  letter-spacing: .2px; /*can also do negative values*/
}

header.primary nav{
  
}

header.primary nav ul{
  padding:0;
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  gap: 30px;
}

header.primary nav ul li{
  list-style-type:none;

}

header.primary nav ul li a{
  background-color: rgba(0, 0, 0, 0.4);
  padding:5px 7.5px;
  display: block;
  border-radius: 10px;
  border: 1px solid #000;

}